extends layout

block css
    link(rel='stylesheet', href='http://localhost:3001/stylesheets/custom.css?mobile_build_version')

block content
    - if (xmas.bonus >= 5)
        div.finish
            img(src="http://localhost:3001/images/finish.jpg?mobile_build_version")
    div.profile-c
        div.profile
            img(src='#{xmas.headimgurl}')
            - if (xmas.bonus > 0 && xmas.bonus < 5)
                span #{xmas.nickname.substring(0, 10)}的圣诞树已经亮了#{xmas.bonus}盏灯
            - else if (xmas.bonus >= 5)
                span 赶紧返回对话框领取吧！
            - else
                span 还没亮灯哦~赶快找人来点亮吧！
        div.mask
    div.gifts-c
        - if (xmas.bonus < 5)
            div.actions
                a(href="#")
                    img(src="http://localhost:3001/images/click.png?mobile_build_version")
        div.star-c
            img(src="http://localhost:3001/images/star.png?mobile_build_version").star
        - if (voteable)
            a(href="http://localhost:3001/xmas/#{xmas.id}/vote").link
                img(src="http://localhost:3001/images/tree.jpg?mobile_build_version").tree
        - else
            img(src="http://localhost:3001/images/tree.jpg?mobile_build_version").tree.prompt
        div.gifts(data-count="#{xmas.bonus}", data-url="http://localhost:3001/xmas/#{xmas.id}")
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-1
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-2
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-3
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-4
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-5
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-6
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-7
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-8
            img(src="http://localhost:3001/images/yellow-g.png?mobile_build_version", data-src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.gift-gray.yellow-9

            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-1
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-2
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-3
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-4
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-5
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-6
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-7
            img(src="http://localhost:3001/images/blue-g.png?mobile_build_version", data-src="http://localhost:3001/images/blue.png?mobile_build_version").gift.gift-gray.blue-8

            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-1
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-2
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-3
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-4
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-5
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-6
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-7
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-8
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-9
            img(src="http://localhost:3001/images/red-g.png?mobile_build_version", data-src="http://localhost:3001/images/red.png?mobile_build_version").gift.gift-gray.red-10

            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-1
            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-2
            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-3
            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-4
            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-5
            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-6
            img(src="http://localhost:3001/images/green-g.png?mobile_build_version", data-src="http://localhost:3001/images/green.png?mobile_build_version").gift.gift-gray.green-7

            img(src="http://localhost:3001/images/socks-g.png?mobile_build_version", data-src="http://localhost:3001/images/socks.png?mobile_build_version").gift.gift-gray.socks-1
            img(src="http://localhost:3001/images/socks_l_g.png?mobile_build_version", data-src="http://localhost:3001/images/socks_l.png?mobile_build_version").gift.gift-gray.socks-2

            img(src="http://localhost:3001/images/stick-g.png?mobile_build_version", data-src="http://localhost:3001/images/stick.png?mobile_build_version").gift.gift-gray.stick-1
            img(src="http://localhost:3001/images/stick_l_g.png?mobile_build_version", data-src="http://localhost:3001/images/stick_l.png?mobile_build_version").gift.gift-gray.stick-2

            img(src="http://localhost:3001/images/bear-g.png?mobile_build_version", data-src="http://localhost:3001/images/bear.png?mobile_build_version").gift.gift-gray.bear-1
            img(src="http://localhost:3001/images/bear_l_g.png?mobile_build_version", data-src="http://localhost:3001/images/bear_l.png?mobile_build_version").gift.gift-gray.bear-2
    div.prompt-overlay
        img(src="http://localhost:3001/images/guide.png?mobile_build_version")
    div.votes
        ul
            each vote in votes
                li
                    img(src='#{vote.headimgurl}')
                    span.nickname=vote.nickname.substring(0, 20) + '点了一盏灯'
    audio#audio(src="http://localhost:3001/song.mp3", preload="preload", loop)
    script(src='http://localhost:3001/javascripts/zepto.min.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/effect.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/wechat.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/share.js?mobile_build_version')
