extends layout

block css
    link(rel='stylesheet', href='http://localhost:3001/stylesheets/custom.css?mobile_build_version')

block content
    div.profile-c
        div.profile
            img(src='#{xmas.headimgurl}')
            - if (xmas.bonus > 0 && xmas < 40)
                span #{xmas.nickname.substring(0, 15)}点亮了#{xmas.bonus}盏灯
            - else if (xmas.bonus >= 40)
                span 都点满了，赶快去领礼物罗！
            - else
                span 还没亮灯哦~赶快找人来点亮吧！
        div.mask
    div.gifts-c
        div.actions
            a(href="#") 请点击圣诞树->
        div.star-c
            img(src="http://localhost:3001/images/star.png?mobile_build_version").star
        - if (voteable)
            a(href="http://localhost:3001/xmas/#{xmas.id}/vote").link
                img(src="http://localhost:3001/images/tree.jpg?mobile_build_version").tree
        - else
            img(src="http://localhost:3001/images/tree.jpg?mobile_build_version").tree.prompt
        div.gifts(data-count="#{xmas.bonus}")
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-1
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-2
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-3
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-4
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-5
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-6
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-7
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-8
            img(src="http://localhost:3001/images/yellow.png?mobile_build_version").gift.yellow-9

            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-1
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-2
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-3
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-4
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-5
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-6
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-7
            img(src="http://localhost:3001/images/blue.png?mobile_build_version").gift.blue-8

            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-1
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-2
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-3
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-4
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-5
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-6
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-7
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-8
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-9
            img(src="http://localhost:3001/images/red.png?mobile_build_version").gift.red-10

            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-1
            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-2
            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-3
            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-4
            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-5
            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-6
            img(src="http://localhost:3001/images/green.png?mobile_build_version").gift.green-7
    div.prompt-overlay
        img(src="http://localhost:3001/images/guide.png?mobile_build_version")
    audio(src="http://localhost:3001/song.mp3", preload="preload", autoplay, loop)
    script(src='http://localhost:3001/javascripts/zepto.min.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/effect.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/wechat.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/share.js?mobile_build_version')
