extends layout

block content
    .hd
        img(src="http://localhost:3001/images/greeting_01.jpg?mobile_build_version").bg
        .gift-c
            img(src="http://localhost:3001/images/gift.png?mobile_build_version")
    .bd
        - if (!voteable)
            a.button.collect-btn(href="#")
                img(src="http://localhost:3001/images/collect.png?mobile_build_version")
                - if (votes.length == 0)
                    div 您还差15个祝福才可以领取
                - else if (votes.length > 0 && votes.length < 15)
                    div 您还差#{15-votes.length}个祝福才可以领取
                - else if (votes.length >= 15)
                    div 赶快回订阅号领取奖励吧！
        - else
            - if (voted === 'unvoted')
                a.button.vote-btn(href="http://localhost:3001/luckybag/#{luckybag.id}/vote")
                    img(src="http://localhost:3001/images/wish.png?mobile_build_version")
            a.button(href="http://localhost:3001/start")
                img(src="http://localhost:3001/images/need.png?mobile_build_version")
        a.button.sub-button(href="http://localhost:3001/howto")
            img(src="http://localhost:3001/images/howto.png?mobile_build_version")
        - if (rank.length > 0)
            .rank
                span.tit 中奖名单：
                span.winners
                    - for winner, index in rank
                        - if (index == 0)
                            p.current #{winner.nickname}已领取
                        - else
                            p #{winner.nickname}已领取
        - if (votes.length > 0)
            .votes
                .tit 祝福榜单 (#{votes.length}人已祝福)
                ul
                    - for vote, index in votes
                        li
                            img(src="#{vote.headimgurl}")
                            div.voter
                                - if (index % 9 == 0)
                                    p 亲~#{vote.nickname}祝你2015继续有钱，任性！
                                - if (index % 9 == 1)
                                    p 亲~#{vote.nickname}祝你2015嫁（qu）个高（bai）富（fu）帅（mei）！
                                - if (index % 9 == 2)
                                    p 亲~#{vote.nickname}祝你2015享受美食不！发！胖！
                                - if (index % 9 == 3)
                                    p 亲~#{vote.nickname}祝你2015彩票中个500万！
                                - if (index % 9 == 4)
                                    p 亲~#{vote.nickname}祝你2015升职加薪职场稳赢！
                                - if (index % 9 == 5)
                                    p 亲~#{vote.nickname}祝你2015成功出轨携手基友把家还！
                                - if (index % 9 == 6)
                                    p 亲~#{vote.nickname}祝你2015有目标有方向，生活水平biubiu升高！
                                - if (index % 9 == 7)
                                    p 亲~#{vote.nickname}祝你2015事事圆满合家欢！
                                - if (index % 9 == 8)
                                    p 亲~#{vote.nickname}祝你2015身体健康不！生！病！
    - if (voted === 'unvoted')
        .mask.mask-collect
            img(src="http://localhost:3001/images/guide.png?mobile_build_version")
        .mask.mask-wait
            img(src="http://localhost:3001/images/loading.gif?mobile_build_version")
    - if (voted === 'success')
        .mask.mask-visible
            img(src="http://localhost:3001/images/success.png?mobile_build_version")
            p 5秒后自动关闭...
    - if (voted === 'failed')
        .mask.mask-visible
            img(src="http://localhost:3001/images/failed.png?mobile_build_version")
            p 5秒后自动关闭...

    div#jsApi(appId="#{jsApi.appId}",timestamp="#{jsApi.timestamp}", nonceStr="#{jsApi.nonceStr}", signature="#{jsApi.signature}")

    script(src='http://localhost:3001/javascripts/zepto.min.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/fx.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/fx_methods.js?mobile_build_version')
    script(src='http://localhost:3001/javascripts/init.js?mobile_build_version')
    script(src='//res.wx.qq.com/open/js/jweixin-1.0.0.js')
    script(src='http://localhost:3001/javascripts/share.js?mobile_build_version')

