extends layout

block content
    br
    div#rank
        img(src="http://localhost:3001/images/rank_01.png?mobile_build_version").wall
        div.bd
            ul
                li.label
                    span 集资历史
                    span.money 集资金额(元)
                each vote, index in votes
                    li
                        img(src='#{vote.headimgurl}')
                            - if (vote.nickname.length >= 12)
                                span.nickname=vote.nickname.substring(0, 9) + '...'
                            - else
                                span.nickname=vote.nickname
                        span.created-time=vote.createdTime
                        span.bonus=(vote.bonus/100).toFixed(2)